<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{name}}
        <hr>
        <!-- <form action=""> -->
            <p>First Number <input type="text" @change="firstInput(first_number);" v-model="first_number" value=""/></p>
            <p>Second Number <input type="text" v-model="second_number" value=""/></p>

            <input type="submit" v-on:click="addition" name="addition" value="Addition">&nbsp;
            <!-- <button v-on:click="addition();">addition</button> -->
            <input type="submit" v-on:click="subtraction" name="subtraction" value="Subtraction">&nbsp;
            <input type="submit" v-on:click="multiplication" name="multiplication" value="multiplication">&nbsp;
            <input type="submit" @click="division" name="division" value="Division">

            <p>First number:{{ first_number }}</p>
            <p>Second number:{{ second_number }}</p>


            <p>Output: <label>{{result}}</label></p>
            <!-- <p>Result using v-bind <input type="text" v-bind="result"></p> -->
        <!-- </form> -->

        <hr>

        <p>Quantity: <input type="text" @change="getBal();" v-model="qty" value=""></p>

        <p>Balance: {{ balance }}</p>
        

    </div>


    <script type="text/javascript" src="app.js"></script>
</body>
</html>